@charset "UTF-8"; 

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;

    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em
    */

    font-size: 1em;
    /* Lighter, normal, bold, bolder */
}
    h1 {

        /* shorthand font
        - font-style -> font-weight -> font-size -> font-family
        
        font-family: 'Times New Roman', Times, serif;
        font-size: ;
        font-weight: ;
        font-style: ;
        */
        font: italic bolder 1em Arial;
}

     h2 {
        font-family: 'Times New Roman', Times, serif;
     }


